/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, "Inter-Variable"), sans-serif;
  font-size: var(--main-font-size, 18px);
  color: var(--main-text-color, #000);
  font-variation-settings: "wght" var(--main-font-weight);
  background-image: var(--background-gradient);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.block_width {
  inline-size: var(--main-block-width);
  margin: 0 auto;
}

/*HEADER*/

.header {
  background-color: var(--background-color, #fff);
  border: 2px solid var(--border-color);
  padding-inline: var(--general-inline-padding);
  padding-block: var(--general-block-padding);
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-block-start: 98px;
}

.logo {
  font-family: var(--accent-font, "PressStart2P"), sans-serif;
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
  color: var(--logo-group-color, #000);
  line-height: 100%;
}

.title {
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  color: var(--logo-group-color, #000);
  line-height: 100%;
  text-align: center;
}

/*MAIN*/

.content {
  display: grid;
  gap: 50px;
  padding-block-start: 98px;
  padding-block-end: 100px;
}

.card {
  background-color: var(--background-color);
  border: 2px solid #000;
}

.card__title {
  font-family: inherit;
  font-weight: var(--font-weight-card-title, 715);
  font-size: inherit;
  color: var(--card-title-color);
  line-height: 100%;
  padding: 5px 10px;
  border-block-end: 2px solid #000;
}

.card__image-container {
  position: relative;
}

.card__image {
  display: block;
  inline-size: 100%;
  max-inline-size: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}

.decorative-text__label {
  display: block;
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--decorative-label-color);
  line-height: 100%;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: 0 0 var(--label-text-stroke-color);
}

@supports((text-stroke: 1px var(--label-text-stroke-color)) or (-webkit-text-stroke: 1px var(--label-text-stroke-color))) {
  .decorative-text__label {
    -webkit-text-stroke: 1px var(--label-text-stroke-color);
    text-stroke: 1px var(--label-text-stroke-color);
    text-shadow: none;
  }
}

.card-description {
  border-block-start: 2px solid #000;
  padding: 25px;
  display: grid;
  gap: 25px;
}

.card__text {
  font-weight: var(--font-weight-card-text, 410);
  font-size: inherit;
  color: var(--main-text-color);
  line-height: 116.67%;
}

.like-button-container {
  display: flex;
  justify-self: end;
  flex-direction: row;
  gap: 6px;
}

.card__icon-button {
  max-block-size: 38px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.card__like-button {
  flex-shrink: 0;
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  color: var(--button-color);
  background-color: transparent;
  border: 2px solid currentColor;
  cursor: pointer;
  padding-inline: 35px;
  padding-block: 10.7px;
}

.button__text {}

.save__button {
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  color: var(--button-color);
  background-color: var(--background-color);
  border: 2px solid currentColor;
  cursor: pointer;
  padding-inline: 18px;
  padding-block: 17px;
  display: flex;
  justify-self: center;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.save__button-icon {
  inline-size: 21px;
  block-size: 21px;
}
