/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, "Inter-Variable"), sans-serif;
  font-size: var(--main-font-size, 18px);
  color: var(--main-text-color, #000);
  font-variation-settings: "wght" var(--main-font-weight);
  background-image: var(--background-gradient);
  background-color: var(--background-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.block_width {
  inline-size: var(--main-block-width);
  margin: 0 auto;
}

.header {
  background-color: var(--header-background-color, #fff);
  border: 2px solid var(--border-color);
  padding-inline: var(--header-inline-padding);
  padding-block: var(--header-block-padding);
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 1.111em;
  margin-block-start: 5.444em;
  font-family: var(--accent-font, "PressStart2P"), fantasy, sans-serif;
  font-weight: var(--accent-font-weight, 400);
  color: var(--logo-group-color, #000);
  text-transform: uppercase;
}

.logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 100%;
}

.title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 100%;
  text-align: center;
}

.content {
  display: grid;
  gap: var(--content-gap);
  padding-block-start: var(--content-padding-block-start);
  padding-block-end: var(--content-padding-block-end);
}

.card {
  background-color: var(--card-background-color);
  border: 2px solid var(--border-color);
}

.card__title {
  font-family: inherit;
  font-weight: var(--font-weight-card-title, 715);
  font-size: inherit;
  color: var(--card-title-color);
  line-height: var(--line-height-card-title);
  padding: 0.278em 0.556em 0.222em;
  border-block-end: 2px solid var(--border-color);
}

.card__image-container {
  position: relative;
  overflow: hidden;
}

.card__image {
  display: block;
  inline-size: 100%;
  max-inline-size: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}

.image__filter-brightness {
  filter: brightness(125%);
}

.image__filter-grayscale {
  filter: grayscale(60%);
}

.image__filter-contrast-medium {
  filter: contrast(135%);
}

.image__filter-saturate {
  filter: saturate(160%);
}

.image__filter-contrast-low {
  filter: contrast(110%);
}

.image__filter-sepia {
  filter: sepia(70%);
}

.image__filter-blur {
  filter: blur(0.2rem);
}

.image__filter-multiple {
  filter: saturate(200%) contrast(130%) opacity(0.8);
}

.decorative-text__label {
  display: block;
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font), fantasy, sans-serif;
  font-weight: var(--accent-font-weight);
  font-size: 14px;
  text-transform: uppercase;
  color: var(--decorative-label-color);
  line-height: 100%;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: 0 0 var(--label-text-stroke-color);
}

@supports ((text-stroke: 1px var(--label-text-stroke-color)) or (-webkit-text-stroke: 1px var(--label-text-stroke-color))) {
  .decorative-text__label {
    -webkit-text-stroke: 1px var(--label-text-stroke-color);
    text-stroke: 1px var(--label-text-stroke-color);
    text-shadow: none;
  }
}

.card-description {
  border-block-start: 2px solid var(--border-color);
  padding-inline: 1.389em;
  padding-block: 1.389em;
  display: grid;
  gap: var(--card-description-gap);
}

.card-description__text {
  display: grid;
  gap: 1.406em;
}

.card__text {
  font-weight: var(--font-weight-card-text, 410);
  font-size: inherit;
  color: var(--main-text-color);
  line-height: var(--line-height-card-text);
}

.like-button-container {
  display: flex;
  justify-self: end;
  flex-direction: row;
  gap: 4px;
}

.card__icon-button {
  block-size: 38px;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: none;
  border: 2px solid var(--accent-color);
}

.contour {
  transition: fill 0.1s linear 0s;
}

.main-body {
  transition: fill 0.3s linear 0s;
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.sparks {
  opacity: 0;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s linear 0s;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.button {
  font-family: var(--accent-font), fantasy, sans-serif;
  font-weight: var(--accent-font-weight, 400);
  font-size: var(--button-font-size, 14px);
  line-height: 90%;
  background-color: var(--button-background-color);
  border: 2px solid var(--border-color);
  cursor: pointer;
  text-align: center;
  transition: box-shadow 0.3s ease;
  position: relative;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
}

.button::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: scaleX(1);
}

.card__like-button {
  flex-shrink: 0;
  inline-size: 130px;
  padding-inline: 0.611em;
  padding-block: 0.594em;
}

.button__text {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  color: var(--button-color);
}

.save__button {
  padding-inline: 1.286em;
  padding-block: 1.071em;
  display: flex;
  justify-self: center;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.save__button-icon {
  inline-size: 21px;
  aspect-ratio: 1/1;
}

.floppy-icon {
  color: var(--button-color);
  mix-blend-mode: difference;
}

.dialog-instruction {
  inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  display: none;
  padding: 1.511em 1.667em;
  background-color: var(--dialog-background-color);
  border: 2px solid var(--border-color);
}

.dialog-instruction[open] {
  display: grid;
  gap: 1.556em;
}

.dialog-instruction[open] .dialog-instruction-wrapper {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 1.111em;
  align-items: center;
}

.dialog-instruction[open] .dialog-instruction-icon {
  inline-size: 39px;
  aspect-ratio: 1/1;
}

.dialog-instruction[open] .dialog-instruction__text {
  font-family: var(--accent-font), fantasy, sans-serif;
  font-weight: var(--accent-font-weight);
  font-size: 14px;
  line-height: 150%;
  color: var(--main-text-color);
  text-transform: uppercase;
}

.dialog-instruction[open] .ok__button {
  inline-size: 100%;
  padding-inline: 0.893em;
  padding-block: 0.893em;
  text-transform: uppercase;
}

.dialog-instruction[open]::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

@media (width <= 375px) {
  .header {
    margin-block-start: 5.556em;
  }

  .content {
    gap: var(--content-gap);
    padding-block-start: var(--content-padding-block-start);
  }

  .card__title {
    line-height: var(--line-height-card-title);
    padding-block-end: 0.167em;
  }

  .card-description {
    gap: var(--card-description-gap);
  }

  .card-description__text {
    gap: 1.4em;
  }

  .card__text {
    line-height: var(--line-height-card-text);
  }

  .save__button {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  .save__button-icon {
    inline-size: 28px;
    aspect-ratio: 1/1;
  }
}
