/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, 'Inter'), sans-serif;
  font-size: var(--main-font-size, 18px);
  color: var(--main-text-color, #000);
  font-variation-settings: 'wght' var(--main-font-weight, 410);
  background-image: var(--background-gradient);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.block_width {
  inline-size: 100%;
  max-inline-size: var(--main-block-width);
  margin: 0 auto;
}

.header {
  background-color: var(--background-color);
  border: 2px solid var(--border-color);
  padding-inline: var(--general-inline-padding);
  padding-block: var(--general-block-padding);
  display: grid;
  justify-self: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-block-start: 100px;
}

.logo {
  font-family: var(--accent-font, 'PressStart2P'), sans-serif;
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
  color: var(--logo-group-color, #000);
  line-height: 100%;
}

.title {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  color: var(--logo-group-color, #000);
  line-height: 100%;
  text-align: center;
}
