/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, "Inter-Variable"), sans-serif;
  font-size: var(--main-font-size, 18px);
  color: var(--main-text-color, #000);
  font-variation-settings: "wght" var(--main-font-weight);
  background-image: var(--background-gradient);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.block_width {
  inline-size: var(--main-block-width);
  margin: 0 auto;
}

/*HEADER*/

.header {
  background-color: var(--background-color, #fff);
  border: 2px solid var(--border-color);
  padding-inline: var(--general-inline-padding);
  padding-block: var(--general-block-padding);
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-block-start: 98px;
}

.logo {
  font-family: var(--accent-font, "PressStart2P"), sans-serif;
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
  color: var(--logo-group-color, #000);
  line-height: 100%;
}

.title {
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  color: var(--logo-group-color, #000);
  line-height: 100%;
  text-align: center;
}

/*MAIN*/

.content {
  display: grid;
  gap: 53.8px;
  padding-block-start: 98px;
  padding-block-end: 100px;
}

.card {
  background-color: var(--background-color);
  border: 2px solid #000;
}

.card__title {
  font-family: inherit;
  font-weight: var(--font-weight-card-title, 715);
  font-size: inherit;
  color: var(--card-title-color);
  line-height: 100%;
  padding: 5px 10px;
  border-block-end: 2px solid #000;
}

.card__image-container {
  position: relative;
}

.card__image {
  display: block;
  inline-size: 100%;
  max-inline-size: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}

.image__filter-brightness {
  filter: brightness(120%);
}

.image__filter-grayscale {
  filter: grayscale(70%);
}

.image__filter-contrast {
  filter: contrast(80%);
}

.image__filter-saturate {
  filter: saturate(160%);
}

.image__filter-invert {
  filter: invert(85%);
}

.image__filter-sepia {
  filter: sepia(100%);
}

.image__filter-blur {
  overflow: hidden;
  filter: blur(0.3rem);
}

.image__filter-multiple {
  filter: invert(100%) brightness(110%) opacity(0.8);
}

.decorative-text__label {
  display: block;
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--decorative-label-color);
  line-height: 100%;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: 0 0 var(--label-text-stroke-color);
}

@supports((text-stroke: 1px var(--label-text-stroke-color)) or (-webkit-text-stroke: 1px var(--label-text-stroke-color))) {
  .decorative-text__label {
    -webkit-text-stroke: 1px var(--label-text-stroke-color);
    text-stroke: 1px var(--label-text-stroke-color);
    text-shadow: none;
  }
}

.card-description {
  border-block-start: 2px solid #000;
  padding: 23.8px 25px;
  display: grid;
  gap: 25.1px;
}

.card__text {
  font-weight: var(--font-weight-card-text, 410);
  font-size: inherit;
  color: var(--main-text-color);
  line-height: 116.67%;
}

.like-button-container {
  display: flex;
  justify-self: end;
  flex-direction: row;
  gap: 6px;
}

.card__icon-button {
  block-size: 38px;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: none;
  border: 2px solid var(--accent-color);
}

.button {
  transition: box-shadow 0.3s ease;
  position: relative;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
}

.button::before {
  content: '';
  display: block;
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: scaleX(1);
}

.card__like-button {
  flex-shrink: 0;
  inline-size: 130px;
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  color: var(--button-color);
  background-color: var(--background-color);
  border: 2px solid var(--border-color);
  cursor: pointer;
  padding-inline: 35px;
  padding-block: 10.7px;
}

.button__text {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

.save__button {
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  color: var(--button-color);
  background-color: var(--background-color);
  border: 2px solid var(--border-color);
  cursor: pointer;
  padding-inline: 18px;
  padding-block: 14.2px;
  display: flex;
  justify-self: center;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.save__button-icon {
  inline-size: 21px;
  block-size: 21px;
}

.floppy-icon {
  color: var(--button-color);
  mix-blend-mode: difference;
}

.dialog-instruction {
  /* inline-size: 353px; */
  inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  display: none;
  padding: 27.2px 30px;
  background-color: var(--background-color);
  border: 2px solid var(--border-color);
}

.dialog-instruction[open] {
  display: grid;
  gap: 28px;
}

.dialog-instruction[open] .dialog-instruction-wrapper {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 20px;
  align-items: center;
}

.dialog-instruction[open] .dialog-instruction-wrapper .dialog-instruction-icon {
  inline-size: 39px;
  block-size: 39px;
}

.dialog-instruction[open] .dialog-instruction-wrapper .dialog-instruction__text {
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--main-text-color);
  text-transform: uppercase;
}

.dialog-instruction[open] .ok__button {
  inline-size: 100%;
  padding: 12.5px;
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  color: var(--button-color);
  text-transform: uppercase;
  background-color: var(--background-color);
  border: 2px solid var(--border-color);
  cursor: pointer;
  text-align: center;
}

.dialog-instruction[open]::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

@media (width <= 375px) {
  .save__button {
    flex-direction: column;
    justify-content: center;
    padding-block: 13px;
  }

  .save__button-icon {
    inline-size: 28px;
    block-size: 28px;
  }
}