/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter-Variable";
  --accent-font: "PressStart2P";
  --main-font-size: 18px;
  --font-weight-card-title: 715;
  --font-weight-card-text: 410;
  --accent-font-weight: 400;
  --main-font-weight: 410 715;
  --button-font-size: 14px;
  --line-height-card-title: 115%;
  --line-height-card-text: 116.67%;
  --main-text-color: #000;
  --card-title-color: #000;
  --logo-group-color: #000;
  --border-color: #000;
  --button-color: #fff;
  --accent-color: #000;
  --decorative-label-color: #000;
  --label-text-stroke-color: #fff;
  --contour-color: #000;
  --animation-fill-color: red;
  --sparks-color: red;
  --background-gradient: 
    repeating-linear-gradient(to right, #d3d3d3 0px 2px, rgb(211 211 211 / 0) 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0px 2px, rgb(211 211 211 / 0) 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  --background-color: #fff;
  --header-background-color: #fff;
  --card-background-color: #fff;
  --button-background-color: #fff;
  --dialog-background-color: #fff;
  --main-block-width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  --header-inline-padding: clamp(1rem, -1.3548rem + 10.0469vw, 7.6875rem);
  --header-block-padding: clamp(7.5rem, 7.2799rem + 0.939vw, 8.125rem);
  --content-padding-block-start: 5.333em;
  --content-padding-block-end: 5.556em;
  --content-gap: 2.767em;
  --card-description-gap: 1.439em;
}

@media (width <= 375px) {
  :root {
    --content-gap: 2.739em;
    --content-padding-block-start: 5.556em;
    --line-height-card-title: 121%;
    --line-height-card-text: 117%;
    --card-description-gap: 1.389em;
  }
}
